<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/images/park.png">
        <title>Parks of Prague - Spatial on Oracle DB 23ai</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/styles/style.css">
        <!-- TailwindCSS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
          tailwind.config = {
            theme: {
              extend: {
                colors: {
                  limegreen: '#2FCB48',
                }
              }
            }
          }
        </script>
        <!-- MapKit JS -->
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
        {{$body}}
    {{/body}}
</div>
</body>
</html>
