<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Parks of Prague</title>
  </head>
  <body>
    <nav class="bg-green-50">
      <div class="flex items-center h-18">
        <!-- Logo with fixed 3em left margin -->
        <div class="ml-12">
          <a href="/">
            <img src="/images/Pop.svg" width="120" height="66.6" class="inline-block align-top" alt="Parks of Prague">
          </a>
        </div>
      </div>
    </nav>
    <div class="flex items-center justify-center h-screen">
      {{$body}}
      {{/body}}
    </div>
    <footer class="fixed bottom-0 left-0 right-0 text-center bg-white">
      <div class="p-3">
        <p class="text-gray-700">🌳 2025 - Parks of Prague</p>
      </div>
    </footer>
  </body>
</html>