{{<base}}
  {{$body}}
    <div>
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-sm" method="post" action="reset-password">
        <h2 class="text-2xl text-green-500 font-bold px-8">
          Set Your Password
        </h2>

        <div class="mt-6 mb-4">
          <label class="block text-green-500 text-sm font-bold mb-2" for="password">
            New Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="password"
            type="password"
            placeholder="Enter password"
            required
          />
        </div>

        <div class="mt-6 mb-6">
          <label class="block text-green-500 text-sm font-bold mb-2" for="password">
            Confirm Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            name="confirm_password"
            type="password"
            placeholder="Retype password"
            required
          />
        </div>

        <input type="hidden" name="tokenValue" value={{tokenValue}} />

        <div class="flex items-center justify-center">
          <button
            class="bg-green-500 hover:bg-green-400 text-white font-bold py-1 px-8 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  {{/body}}
{{/base}}
