# format options
--allman false
--commas inline

# file options
--exclude Pods,**/*generated.swift,**/fastlane

# rules
--disable blankLinesAroundMark
--disable blankLinesAtStartOfScope
--wraparguments before-first
--elseposition next-line
--disable redundanttype
--disable redundantClosure