<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Parks of Prague - Powered by Oracle DB 23ai</title>
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
        <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        #map {
            width: 100%;
            height: 100%;
        }
        </style>
        {{$body}}
    {{/body}}
</div>
</body>
</html>
