{{<base}}
{{$body}}
<div></div>
<div id="map"></div>
<script src="/js/map.js"></script>
<script>
    var annotationData = [];

    {{#park}}
    annotationData.push({ name: "{{name}}", latitude: {{latitude}}, longitude: {{longitude}} });
    {{/park}}

    initializeMap(annotationData);
</script>
{{/body}}
{{/base}}
