<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title> Parks of Prague</title>
</head>

<body>
  <main class="class=" mt-16">
    {{$body}}
    {{/body}}
  </main>
</body>

</html>
