{{<base}}
{{$body}}
<div class="pt-4 px-12">
    <h1 class="text-4xl font-bold text-red-600">Error {{status}}</h1>
    <p class="mb-6">{{message}}</p>
    <a href="/" class="inline-block bg-green-100 text-green-600 px-4 py-2 rounded hover:bg-green-200">
        Go back home
    </a>
    </div>
{{/body}}
{{/base}}
