<header class="fixed top-0 left-0 right-0 z-50 bg-gray-100">
  <div class="container mx-auto flex justify-between items-center py-4 px-6">
    <!-- Left side: Logo + Navigation -->
    <div class="flex items-center">
      <a href="/" class="flex items-center mr-8">
        <img src="/images/PoP.png" alt="Parks of Prague Logo" class="h-16 w-auto" />
      </a>

      <!-- Navigation -->
      <nav>
        <ul class="flex space-x-6">
          <li>
            <a href="/" class="text-gray-500 hover:text-gray-900">Home</a>
          </li>
          <li>
            <a href="/login" class="px-4 py-2 text-gray-500 hover:text-gray-900">Login</a>
          </li>
          <li>
            <a href="/parks/create" class="py-2 text-gray-500 hover:text-gray-900">
               <span class="font-bold text-green-700">+</span> Add
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
