{{<base}} {{$body}} <div class="flex items-center justify-center h-screen">
  <a href="oauth/google"
    class="inline-flex items-center justify-center p-2 rounded-md hover:bg-gray-100 focus:outline-none">
    <img src="/images/signin_google.svg" alt="Sign in with Google" class="h-10 w-auto" />
  </a>
  </div>
  {{/body}}
  {{/base}}