{{<base}}
{{$body}}
    <div class="pt-4 px-12">
        <h2 class="text-xl font-bold">{{ parkContext.name}}</h2>
        <p>
            <b>Latitude:</b> {{ parkContext.latitude }},
            <b>Longitude:</b> {{ parkContext.longitude }}
        </p>
    </div>
{{/body}}
{{/base}}
